<!-- <div class="card flex justify-content-center align-items-center">
  <p-toast></p-toast>
  <p-fileUpload
    mode="basic"
    chooseLabel="Choose"
    name="demo[]"
    url="https://www.primefaces.org/cdn/api/upload.php"
    accept="image/*"
    [maxFileSize]="1000000"
    (onUpload)="onUpload($event)"
  ></p-fileUpload>
</div> -->
<main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div
    class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-24"
  >
    <h1 class="text-4xl font-bold tracking-tight text-gray-900">
      New Arrivals
    </h1>

    <div class="flex items-center">
      <div class="relative inline-block text-left">
        <!-- <div>
          <button
            type="button"
            class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
            id="menu-button"
            aria-expanded="false"
            aria-haspopup="true"
          >
            Sort
            <svg
              class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </div> -->
        <p-splitButton
          label="Sort"
          [model]="this.items"
          styleClass="p-button-text p-button-secondary mr-2 mb-2"
        ></p-splitButton>
      </div>
    </div>
  </div>
</main>
